node-red
[
    {
        "id": "0572114b9e50eb72",
        "type": "lgtv-youtube",
        "z": "6745d9a11f17d82a",
        "tv": "",
        "name": "",
        "x": 560,
        "y": 740,
        "wires": []
    },
    {
        "id": "8e01679cfd34670a",
        "type": "alexa-remote-event",
        "z": "6745d9a11f17d82a",
        "name": "",
        "account": "",
        "event": "ws-device-activity",
        "x": 90,
        "y": 860,
        "wires": [
            [
                "3691a51c84fe04be",
                "0eafbf516cc4d11c"
            ]
        ]
    },
    {
        "id": "3691a51c84fe04be",
        "type": "switch",
        "z": "6745d9a11f17d82a",
        "name": "",
        "property": "payload.conversionDetails.CUSTOMER_TRANSCRIPT.0.transcriptText",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "youtube",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 860,
        "wires": [
            [
                "8e0f4c57d697583f"
            ]
        ]
    },
    {
        "id": "0fb8473af60a8c07",
        "type": "mqtt out",
        "z": "6745d9a11f17d82a",
        "name": "",
        "topic": "test/search",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 770,
        "y": 860,
        "wires": []
    },
    {
        "id": "8e0f4c57d697583f",
        "type": "change",
        "z": "6745d9a11f17d82a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.conversionDetails.CUSTOMER_TRANSCRIPT.0.transcriptText",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 860,
        "wires": [
            [
                "0fb8473af60a8c07"
            ]
        ]
    },
    {
        "id": "0eafbf516cc4d11c",
        "type": "change",
        "z": "6745d9a11f17d82a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "videotub",
                "pt": "global",
                "to": "payload.conversionDetails.CUSTOMER_TRANSCRIPT.0.transcriptText",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "2185607fa11ac0cf",
        "type": "mqtt in",
        "z": "6745d9a11f17d82a",
        "name": "",
        "topic": "test/link",
        "qos": "2",
        "datatype": "auto",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 740,
        "wires": [
            [
                "b32d10ab15afefb1"
            ]
        ]
    },
    {
        "id": "b32d10ab15afefb1",
        "type": "switch",
        "z": "6745d9a11f17d82a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 740,
        "wires": [
            [
                "0572114b9e50eb72",
                "94a9622d14931c2c",
                "512245f5ee4253fc"
            ]
        ]
    },
    {
        "id": "0f195a3ecf0f6743",
        "type": "mqtt out",
        "z": "6745d9a11f17d82a",
        "name": "",
        "topic": "test/link",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f1b91dcdc4533c61",
        "x": 660,
        "y": 800,
        "wires": []
    },
    {
        "id": "94a9622d14931c2c",
        "type": "change",
        "z": "6745d9a11f17d82a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 800,
        "wires": [
            [
                "0f195a3ecf0f6743"
            ]
        ]
    },
    {
        "id": "512245f5ee4253fc",
        "type": "delay",
        "z": "6745d9a11f17d82a",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 740,
        "wires": [
            [
                "10b36d9bda59e3b2"
            ]
        ]
    },
    {
        "id": "edac67a83c51d889",
        "type": "lgtv-button",
        "z": "6745d9a11f17d82a",
        "tv": "",
        "name": "",
        "x": 1030,
        "y": 740,
        "wires": []
    },
    {
        "id": "10b36d9bda59e3b2",
        "type": "change",
        "z": "6745d9a11f17d82a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ENTER",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 740,
        "wires": [
            [
                "edac67a83c51d889"
            ]
        ]
    },
    {
        "id": "f1b91dcdc4533c61",
        "type": "mqtt-broker",
        "name": "RSPI",
        "broker": "82.223.107.238",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
